p {

    color:black;
}

body {
    background-color: whitesmoke;
    font-size: 22px;
}

h1, h2 {
    color: red;
}

p span {
    text-transform: uppercase;
    background-color: yellow;
}

.highlight {
    color: green;
}

.gray {
    color:gray;
}

#second {
    font-style: italic;
}